---
layout: page
title: Projects
subtitle: Course Projects
desc: Course Projects
permalink: /projects/
---

<div class="projects">
  {% assign m = site.data.proj.size | minus:1 | divided_by:3 %}
  {% for i in (0..m) %}
  <div class="grid">
    {% for j in (0..2) %}
    {% assign k = i | times:3 | plus:j %}
    {% if k < site.data.proj.size %}
    {% assign project = site.data.proj[k] %}
    <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="{{ project.href }}/">{{ project.title }}</a></h4>
        <img src="/assets/img/{{ project.img_src }}">
        <p>{{ project.description }}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div><!-- grid -->
  {% endfor %}

    <!-- <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="cupcake-fac/">The Cupcake Sequencer</a></h4>
        <img src="/assets/img/cupcake-fac/1.png">
        <p>it is a mixture of a cupcake factory and a sequencer. This factory not only produces cupcakes, but it also produces SCHWIFTY sounds! Let's get schwifty! This project is powered by Unity.</p>
      </div>
    </div>
    
    <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="univ-freq/">Universe of Frequency</a></h4>
        <img src="/assets/img/univ-freq/univfreq.png">
        <p>It is an universe controlled by frequency. Every planet will be attracted by a specific frequency. You have to use certain frequency to attract and absorb the balls.</p>
      </div>
    </div>

    <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="rollingpong/">Rolling Pong</a></h4>
        <img src="/assets/img/rollingpong/rollingpong.png">
        <p>Imagine that you are balancing a <strong>ping pong ball</strong> on a surface. You have to stop the ball at certain points in order to score. Controlling the ball is already a difficult task. Unfortunately, your naughty friends are trying to keep you from scoring! What should you do?</p>
      </div>
    </div>

    <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="nirvana/">Nirvana</a></h4>
        <img src="/assets/img/nirvana/1.png">
        <p>In the world of Buddhism, there are six realms. All creatures are going to reincarnate into one of the realms after they die according to what they did in the past. However, for those souls who have reached Nirvana, they don't have to suffer from this pain of reincarnation.</p>
      </div>
    </div> -->

</div>
