---
layout: page
title: Publications
subtitle: Publications
desc: publications.
permalink: /publications/
---

<ul class="pub-list">
  {% for year in site.data.pubs %}
  <div class="lead lead-about">{{ year[0] }}
    {% for pub in year[1] %}
    <li class="pub">
      <div class="pub-box">
        <p class="pub-desc"><i>{{ pub.type }}</i></p>
        <h4 class="pub-title">{{ pub.title }}</h4>
        <p class="pub-desc">{{ pub.authors }}</p>
        <p class="pub-desc">In {{ pub.publish }}
          {% if pub.place %}
          , {{ pub.place }}
          {% endif %}
          , {{ pub.date }}.
          {% if pub.id %}
          <a target="_blank" href="/publications/{{ pub.id }}.pdf">[PDF]</a>
          {% endif %}
          {% if pub.url %}
          <a target="_blank" href="{{ pub.url }}">[LINK]</a>
          {% endif %}
        </p>
      </div>
    </li>
    {% endfor %}
  </div>
  {% endfor %}
</ul>
<!-- post-list -->

